/* App.css */

/* theme colors */
:root {
  --primary-color: hsl(240deg, 100%, 20%);
  --secondary-color: hsl(336deg, 44%, 55%);
  --accent-color: rgb(225, 22, 177);
  --text-color: white;
  --text-light-color: dimgray;
  --background-color: #f8f9fa;
}

/* reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* styles for the right banner which contains the video player  */
.rightBanner {
  width: 560px;
  height: 315px;
  position: absolute;
  top: 20%;
  right: 5%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.rightBanner iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* container for entire page */
.container {
  width: 100vw;
  height: 100vh;
}

/* styles for the video thumbnails */
.videoImage {
  width: 16rem;
  height: 12rem;
  border-radius: 10px;
  align-items: center;
  border: solid 1px var(--text-light-color);
}

/* styles for the clickable video links */
.videoLink {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.videoLink:hover {
  text-decoration: none;
  transform: translateY(-3px);
}

/* styles for top section of the page */
.topHalf {
  min-height: 50vh;
  position: relative;
  background-image: linear-gradient(
    100deg,
    var(--primary-color) 0%,
    var(--primary-color) 20%,
    var(--secondary-color) 40%,
    var(--accent-color) 60%,
    var(--secondary-color) 80%,
    var(--primary-color) 100%
  );
  border-bottom: 10px solid var(--accent-color);
  padding-top: 14px;
  padding-bottom: 4rem;
}

.content {
  padding-left: 6rem;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-weight: lighter;
  padding-top: 12px;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 45px;
}

h2 {
  padding-bottom: 7rem;
}

.break {
  border-bottom: 1px solid var(--text-color);
  width: 5%;
}

/* styles for bottom section of the page */
.bottomHalf {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3rem;
}

/* NEW label on first video */
.newLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: small;
  font-weight: bold;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    width: 25%;
    padding-top: 1rem;
  }

  .content {
    padding-top: 3rem;
    padding-left: 4rem;
  }

  .topHalf {
    height: 45vh;
  }

  .break {
    width: 5%;
    color: var(--text-color);
    padding-top: 1rem;
  }

  .bottomHalf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: center;
  }

  .videoContainer {
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 16rem;
  }

  .textUnderVideo {
    flex-grow: 1;
  }

  .timePlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 2rem;
  }

  .playButton {
    background-color: black;
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    width: 15px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .length {
    font-size: 12px;
    font-weight: bold;
    color: dimgray;
  }

  h3 {
    font-size: 14px;
    padding-top: 10px;
  }

  .videoDesc {
    width: 18rem;
    font-weight: lighter;
    font-size: 13px;
    color: var(--text-light-color);
    padding-top: 10px;
    margin-bottom: 2rem;
  }

  /* New styles for the video grid */
  .videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 20px;
    justify-items: center;
  }
}

/* Media query for iPads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 25px;
    width: 35%;
    padding-top: 1rem;
  }

  .content {
    padding-top: 3rem;
    padding-left: 4rem;
  }

  .topHalf {
    height: 30vh;
    padding-bottom: 0;
  }

  .break {
    width: 5%;
    color: var(--text-color);
    padding-top: 1rem;
  }

  .bottomHalf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: center;
  }

  .videoContainer {
    height: auto;
    width: 16rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .textUnderVideo {
    flex-grow: 1;
  }

  .rightBanner {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0; 
  }
  .rightBanner iframe {
    width: 100%;
    height: 100%;
  }

  .timePlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
  }

  .playButton {
    background-color: black;
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    width: 15px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .length {
    font-size: 12px;
    font-weight: bold;
    color: dimgray;
  }

  h3 {
    font-size: 14px;
    padding-top: 10px;
  }

  .videoDesc {
    width: 16rem;
    font-weight: lighter;
    font-size: 13px;
    color: var(--text-light-color);
    padding-top: 10px;
  }

  /* New styles for the video grid */
  .videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 20px;
    justify-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* phone screens */
/* Media query for phone screens */
@media screen and (max-width: 767px) and (min-width: 321px) {
  .topHalf {
    height: 25vh;
  }

  .bottomHalf {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    padding-top: 5px;
  }

  p {
    width: 75%;
  }

  .title {
    padding-bottom: 1rem;
  }

  .content {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .bibleProject {
    padding-bottom: 2rem;
  }

  .timePlay {
    /* Adjust the padding to create space between timePlay and videoDesc */
    padding-top: 2rem;
    width: calc(100% - 20px); /* Adjust width to fit the content */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* Ensure proper spacing between videoDesc and timePlay */
  .videoDesc {
    margin-bottom: 35px; /* Adjust margin to create space */
  }

  .videoContainer {
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 16rem;
  }

  .textUnderVideo {
    flex-grow: 1;
  }

  .playButton {
    background-color: black;
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    width: 15px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .length {
    font-size: 12px;
    font-weight: bold;
    color: dimgray;
  }

  /* adjust .rightBanner width to fit the screen */
  .rightBanner {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem; 
  }

  /* New styles for the video grid */
  .videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 20px;
    justify-items: center;
  }
}

/* Media query for smaller phones */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 22px;
  }

  p {
    width: 50%;
  }

  .content {
    padding-left: 12px;
  }

  /* New styles for the video grid */
  .videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 20px;
    justify-items: center;
  }
}
